In [ ]:
DATE = '29/01/2024'
NAME = 'NGUYỄN THÀNH PHÁT'

In [ ]:
# cell for download
import wget
url = ''
file = wget.download(url)

In [ ]:
import torch
import pandas as pd
import numpy as np


Bài toán tín dụng

* Input: vector x(customer application)
* Output: y (good/bad customer) or (1,-1)
* Data:  (z1,y1), (x2,y2),..., (xn, yn) (lịch sử giao dịch)
* Mục tiêu là tìm hàm f: X -> Y
* Thực tế thì xắp xỉ tốt nhất tìm được: g: X -> Y

In [ ]:
df = pd.read_csv('./datasets/crx.csv')
df.dropna()
df.columns=[f'A{i}' for i in range (16)]
df.head()
df.to_csv('./datasets/crx.csv')

In [5]:
X = df.iloc[:,2:4]
X

        A1      A2
0    58.67   4.460
1    24.50   0.500
2    27.83   1.540
3    20.17   5.625
4    32.08   4.000
..     ...     ...
684  21.08  10.085
685  22.67   0.750
686  25.25  13.500
687  17.92   0.205
688  35.00   3.375

[689 rows x 2 columns]

In [38]:
def h(w_age, age,w_salary, salary, thresh):
    # g = w_age*age + w_salary*salary - thresh
    # if g >= 0 :
    #     return 1
    # return -1
    return np.where(w_age*age + w_salary*salary >= thresh, 1, -1)

In [27]:
def type_kh(tuoi, luong):
    print(f"Nếu khách hàng {tuoi} tuổi và có lương {luong*1000}$ thì là khách hàng {'tốt' if h(w_age,tuoi,w_salary,luong*1000, thresh) == 1 else 'xấu'}")

In [28]:
type_kh(25, 10)
type_kh(25, -10)

Nếu khách hàng 25 tuổi và có lương 10000$ thì là khách hàng xấu
Nếu khách hàng 25 tuổi và có lương -10000$ thì là khách hàng tốt

In [21]:
df = pd.DataFrame()
df['age'] = np.array([25,40,22,27])
df['salary'] = np.array([2,2.5,3.5,2.5])
df['label'] = np.array([1,-1,1,1])
df

   age  salary  label
0   25     2.0      1
1   40     2.5     -1
2   22     3.5      1
3   27     2.5      1

In [40]:
# model 1
w_age = 1
w_salary = 1
thresh = 1

In [41]:
print("model 1")
df['predict'] = h(w_age, df['age'], w_salary, df['salary'], thresh)
df

model 1

   age  salary  label  predict
0   25     2.0      1        1
1   40     2.5     -1        1
2   22     3.5      1        1
3   27     2.5      1        1

In [45]:
# model 2
w_age = -1
w_salary = 1
thresh = 1

In [46]:
print("model 2")
df['predict'] = h(w_age, df['age'], w_salary, df['salary'], thresh)
df

model 2

   age  salary  label  predict
0   25     2.0      1       -1
1   40     2.5     -1       -1
2   22     3.5      1       -1
3   27     2.5      1       -1