In [ ]:
DATE = '29/01/2024'
NAME = 'NGUYỄN THÀNH PHÁT'

In [ ]:
# cell for download
import wget
url = ''
file = wget.download(url)

In [ ]:
import torch
import pandas as pd
import numpy as np


Bài toán tín dụng

* Input: vector x(customer application)
* Output: y (good/bad customer) or (1,-1)
* Data:  (z1,y1), (x2,y2),..., (xn, yn) (lịch sử giao dịch)
* Mục tiêu là tìm hàm f: X -> Y
* Thực tế thì xắp xỉ tốt nhất tìm được: g: X -> Y

In [5]:
df = pd.read_csv('./datasets/crx.csv')
df.dropna()
df.columns=[f'A{i}' for i in range (16)]
df.head()
df.to_csv('./datasets/crx.csv')

In [15]:
X = df.iloc[:,1:3]
X

        A1      A2
0    58.67   4.460
1    24.50   0.500
2    27.83   1.540
3    20.17   5.625
4    32.08   4.000
..     ...     ...
684  21.08  10.085
685  22.67   0.750
686  25.25  13.500
687  17.92   0.205
688  35.00   3.375

[689 rows x 2 columns]

In [18]:
def h(w_age, age,w_salary, salary, thresh):
    g = w_age*age + w_salary*salary - thresh
    if g >= 0 :
        return 1
    return -1

In [ ]:
# model 1
w_age = 1
w_salary = 1
thresh = 1