In [1]:
DATE = '29/01/2024'
NAME = 'NGUYỄN THÀNH PHÁT'

In [3]:
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.DataFrame([
    "Year": [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979],
    "Dispine": [751.6, 779.2, 810.3, 864.7, 857.5, 874.9, 906.8, 942.9, 988.8, 1015.7],
    "Perscons": [672.1, 696.8, 737.1, 767.9, 762.8, 779.4, 823.1, 864.3, 903.2, 927.6]
])
df

ValueError: 3 columns passed, passed data had 10 columns

In [10]:
df = pd.read_csv("./datasets/crx.csv")
df

,Unnamed: 0,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
0,0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,684,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,00260,0,-
685,685,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,00200,394,-
686,686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,00200,1,-
687,687,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
688,688,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-