In [1]:
DATE = '11/02/2024'
NAME = 'NGUYỄN THÀNH PHÁT'

In [7]:
import torch
import pandas as pd
import numpy as np

![markdown](./image/bt3.png)

In [5]:
x = torch.tensor([1.,2.], requires_grad=True)
w1 = torch.tensor([[1.,0.],[1.,2.]], requires_grad=True)
w2 = torch.tensor([[1.,-2.]], requires_grad=True)
y = torch.tensor(4., requires_grad=True)
a = w1 @ x
print(f"a: {a}")
b = w2 @ a
print(f"b: {b}")
e = y - b
print(f"e: {e}")
c = e**2
print(f"c: {c}")
c.backward()

print("dc/dx: ", x.grad)
print("dc/dy: ", y.grad)
print("dc/dw1: ", w1.grad)
print("dc/dw2: ", w2.grad)

a: tensor([1., 5.], grad_fn=<MvBackward0>)
b: tensor([-9.], grad_fn=<MvBackward0>)
e: tensor([13.], grad_fn=<SubBackward0>)
c: tensor([169.], grad_fn=<PowBackward0>)
dc/dx:  tensor([ 26., 104.])
dc/dy:  tensor(26.)
dc/dw1:  tensor([[-26., -52.],
        [ 52., 104.]])
dc/dw2:  tensor([[ -26., -130.]])

In [6]:
df = pd.DataFrame({
    'time': [0.5, 0.75, 1, 1.25, 1.5, 1.75, 1.75, 2, 2.25, 2.5, 2.75, 3, 3.25, 3.5, 4, 4.25, 4.5, 4.75, 5, 5.5],
    'result': [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
})
df

    time  result
0   0.50       0
1   0.75       0
2   1.00       0
3   1.25       0
4   1.50       0
5   1.75       0
6   1.75       1
7   2.00       0
8   2.25       1
9   2.50       0
10  2.75       1
11  3.00       0
12  3.25       1
13  3.50       0
14  4.00       1
15  4.25       1
16  4.50       1
17  4.75       1
18  5.00       1
19  5.50       1

In [8]:
def prob(x, w0, w1):
    return 1/(1+np.exp(-w0 - w1*x))

In [9]:
x = df['time']
x

0     0.50
1     0.75
2     1.00
3     1.25
4     1.50
5     1.75
6     1.75
7     2.00
8     2.25
9     2.50
10    2.75
11    3.00
12    3.25
13    3.50
14    4.00
15    4.25
16    4.50
17    4.75
18    5.00
19    5.50
Name: time, dtype: float64

In [13]:
w0 = 1
w1 = 1
print(f'Model 1 dự đoán khi số giờ học là {2} tỷ lệ đậu là {prob(2, w0, w1)}')
print(f'Model 1 dự đoán khi số giờ học là {0} tỷ lệ đậu là {prob(0, w0, w1)}')
df['result_pred'] = prob(x, w0, w1)
df

Model 1 dự đoán khi số giờ học là 2 tỷ lệ đậu là 0.9525741268224334
Model 1 dự đoán khi số giờ học là 0 tỷ lệ đậu là 0.7310585786300049

    time  result  result_pred
0   0.50       0     0.817574
1   0.75       0     0.851953
2   1.00       0     0.880797
3   1.25       0     0.904651
4   1.50       0     0.924142
5   1.75       0     0.939913
6   1.75       1     0.939913
7   2.00       0     0.952574
8   2.25       1     0.962673
9   2.50       0     0.970688
10  2.75       1     0.977023
11  3.00       0     0.982014
12  3.25       1     0.985936
13  3.50       0     0.989013
14  4.00       1     0.993307
15  4.25       1     0.994780
16  4.50       1     0.995930
17  4.75       1     0.996827
18  5.00       1     0.997527
19  5.50       1     0.998499

In [14]:
w0 = 0.6
w1 = 1
print(f'Model 2 dự đoán khi số giờ học là {2} tỷ lệ đậu là {prob(2, w0, w1)}')
print(f'Model 2 dự đoán khi số giờ học là {0} tỷ lệ đậu là {prob(0, w0, w1)}')
df['result_pred'] = prob(x, w0, w1)
df

Model 2 dự đoán khi số giờ học là 2 tỷ lệ đậu là 0.9308615796566533
Model 2 dự đoán khi số giờ học là 0 tỷ lệ đậu là 0.6456563062257954

    time  result  result_pred
0   0.50       0     0.750260
1   0.75       0     0.794130
2   1.00       0     0.832018
3   1.25       0     0.864127
4   1.50       0     0.890903
5   1.75       0     0.912934
6   1.75       1     0.912934
7   2.00       0     0.930862
8   2.25       1     0.945319
9   2.50       0     0.956893
10  2.75       1     0.966105
11  3.00       0     0.973403
12  3.25       1     0.979164
13  3.50       0     0.983698
14  4.00       1     0.990048
15  4.25       1     0.992232
16  4.50       1     0.993940
17  4.75       1     0.995274
18  5.00       1     0.996316
19  5.50       1     0.997762